<% include ../header.ejs %>
    <% include ./sidebar.ejs %>
    <div class="col-sm-10">
    
        <div class="panel panel-default">
            <div class="panel-heading">
                <%=product.name%>
            </div>
            <div class="panel-body">
                <div style="padding-bottom: 10px">
                    작성일 : 
                    <%=product.getDate.year%>년 
                    <%=product.getDate.month%>월 
                    <%=product.getDate.day%>일 
                </div>
                <%if(product.thumbnail){%>
                    <p>
                    <img src ='/uploads/<%=product.thumbnail%>' style="max-width: 100%" />
                    </p>
                <%}%>
                <%-product.description%>

                <!-- 댓글영역  -->
                <hr />
                <div id="comment_area">
                <% comments.forEach( function(comment){ %>
                    <div><%#이 태그가 remove된다.%>
                        <%=comment.content%>
                        [<a class='comment_delete' comment_id='<%=comment.id%>'>삭제</a>]
                    </div>
                <% }); %>
                </div>

            
            <div>
                <br><b>댓글작성하기</b>
                <form id="commentForm" action="" method="post">
                    <input type="hidden" name="product_id" value="<%=product.id%>" />
                    <textarea class="form-control" name="content"></textarea>
                    <button class="btn btn-primary" style="margin-top: 10px">댓글작성</button>
                </form>
            </div>
            </div>
        
        
        </div>

        <!-- 댓글영역  -->


        <a href="/admin/products" class="btn btn-default">목록으로</a>
        <a href="/admin/products/edit/<%=product.id%>" class="btn btn-primary">수정</a>

        <!--ajax client부분-->
        <script>
            $(document).ready(function(){
            $('#commentForm').submit(function(){
                    var $contentVal = $(this).children('textarea[name=content]').val();
                    //alert($contentVal);
                    
                    if($contentVal){
                        $.ajax({
                            url: '/admin/products/ajax_comment/insert',
                            type: 'POST',
                            data: $(this).serialize(),//serialize: 각 데이터들을 mapping을 해주는 함수
                        })
                        .done(function(args){
                            if(args.message==="success"){
                                $('#comment_area').append(
                                    //댓글추가시 삭제버튼도 같이 생기도록
                                    '<div>'+args.content+
                                    "[<a class='comment_delete' comment_id='"+ args.id+"'>삭제</a>] </div>"
                                );
                                $('#commentForm textarea[name=content]').val("");
                            }
                            //console.log(args.message);//message 하나만 출력
                        })
                        .fail(function(args){
                            console.log(args);
                        });
                    }else{
                        alert("댓글 내용을 입력해주세요.");
                    }
                    return false;
            });
            });
            
            $(document).on('click','.comment_delete',function(){
                if(confirm('삭제하시겠습니까?')){//확인창에 눌렀을 시만 진행
                    var $self = $(this); //여기서 this는 해당 댓글의 <a>태그를 뜻함
                    $.ajax({
                        url: '/admin/products/ajax_comment/delete',
                        type: 'POST',
                        data: {comment_id : $self.attr('comment_id')},//변수의 attribute로 접근
                    })
                    .done(function(){
                        $self.parent().remove();//<a>태그의 parent니까 <div>
                        alert("삭제가 완료되었습니다.");
                    })
                    .fail(function(args){
                        console.log(args);
                    });
                }
            });

        </script>
    </div>    


<% include ../footer.ejs %>