<% include ../header.ejs %>

    <table class="table table-bordered table-hover">
        <tr>
            <th>제목</th>
            <th>작성일</th>
            <th>가격(원)</th>
            <th>삭제</th>
        </tr>
        <% products.forEach( function(product){ %>
        <tr>
            <td><%=product.name%></td>
            <td>
                <%=product.getDate.year%> 년
                <%=product.getDate.month%> 월
                <%=product.getDate.day%> 일
            </td>
            <td>
                <%=product.price%>
            </td>
            <td>
                <a href="#" class="btn btn-danger">삭제</a>
            </td>
        </tr>
        <% }); %>
    </table>

    <a href="/admin/products/write" class="btn btn-default">작성하기</a>

<% include ../footer.ejs %>