<% include ../header.ejs %>
    <h3 className="page-header">장바구니</h3>
    <table class="table table-bordered table-hover">
        <tr>
            <th></th>
            <th>제품명</th>
            <th>갯수</th>
            <th>총가격</th>
            <th>삭제</th>
        </tr>

        <% 
            if( Object.keys(cartList).length ){ 
                for( let key in cartList){
        %>
            <tr>
                <td>
                    <img src="/uploads/<%=cartList[key].thumbnail%>" alt="" width="50" height="50" />
                </td>
                <td><%=cartList[key].name%></td>
                <td><%=cartList[key].number%></td>
                <td><%=cartList[key].amount%> 원</td>
                <td>
                    <a href="#" class="deleteCart btn btn-danger" productId= "<%=key%>">삭제</a>
                </td>
            </tr>
        <%
                } //end for
            }else{
        %>
            <tr>
                <td colspan="5" style="text-align:center">장바구니에 아무것도 안담겼습니다.</td>
            </tr>
        <%}%>
    </table>


    <div class="text-center" style="font-size:30px; margin-bottom:20px;">
        결제금액 : <span style="color:red"> <%=totalAmount%> </span> 원
    </div>
    <div class="text-center">
        <a href="/" class="btn btn-default" style="margin-right:10px;">계속쇼핑하기</a>
        <a href="/checkout" class="btn btn-primary">결제하기</a>
    </div>

<!--삭제 js-->
<script>
$(document).ready(function(){

    $('.deleteCart').click(function(event){
        event.preventDefault(); //href의 링크로 넘어가게 하지 않는다.
        if(confirm('삭제하시겠습니까?')){
            var productId = $(this).attr('productId'); //아이디를 받아온다
            //productId로 찾아서 delete로 날린다
            let cartList = {};
            if( getCookie('cartList') ){ //있으면 json 파싱함
                cartList = JSON.parse(getCookie('cartList'));
                delete cartList[productId];  //지우는 부분//literal 객체에서 한 줄이 삭제됨
            }
            //다시쿠키 설정
            setCookieHour( "cartList" , JSON.stringify(cartList) , 3 );

            //완료후 다시 cart 페이지로 이동
            document.location.href = "/cart";
        }

    });

});

</script>


<script>
$jqd
</script>
<% include ../footer.ejs %>